


<h1><%= link_to "Exercises Builder"%></h1>

<div class="container">
  <div class="row">
    <div class="col-4 my-4">
      <div class="card">
        <img src="https://picsum.photos/200" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title"><%= exercise['name'] %></h4>
          <p class="card-text"><%= exercise['description'] %></p>

        </div>
      </div>
    </div>
  </div>
</div>


<br>

<%= link_to 'New Exercise', new_exercise_path, class: "btn btn-dark" %>