<div class="banner" style="background-image: url(/app/assets/images/man-working-out-2294361.jpg)">
  <div class="container">
    <p>
      <span id="banner-typed-text"></span>
      <h1>Exercise Repository</h1>
       
    </p>
 
    
  </div>
</div>